.DS_Store
lib/
node_modules/
platforms/*

!platforms/android/YouTubeAndroidPlayerApi.jar

/app/**/*.js
/app/**/*.map
/app/files/

/keystore/
*.apk
*.ipa

native-nick-release-key.jks
google-services.json
credentials.ts