/*
http://www.colourlovers.com/palette/482774/dream_magnet
#343838
#005F6B
#008C9E
#00B4CC
#00DFFC
*/

Page, .drawer-page {
    background-color: #BCBCBC;
    color: #E8EAEB;
    font-family: "nasalization-rg";
    font-size:16;
}

ActionBar {
    background-color: #008C9E;
}

Button {
    background-color: #008C9E;
    border-radius: 10;
    margin: 10;
}

.gridmenu {
    border-radius: 10
}

.cardStyle {
    background-color: #008C9E;
}

.listview {
    background-color: #343838;
    padding: 10;
}

.camera {     
    margin: 10;
}

.date {
    font-size:14;
    margin: 10;
    text-align: right;
}

ListPicker {
    font-size:24;
    text-align: center;
}