@import 'nativescript-theme-core/css/core.light.css';

Page {
    font-family: "Nasalization";    
    background-color: #343838;   
    color: #BCBCBC;
}

ActionBar {
    font-family: "Nasalization";
    background-color: #343838;   
    color: #BCBCBC;
}

CardView {
    background-color: #343838;
    color: #BCBCBC;
    font-size:14;
}

.toolbar {
    border-color: #303030;
    border-width: 5 0 5 0;
}

.nav {
    background-color:#1b1d1d;
    color: #E8EAEB;
}

.nav:highlighted {
    color: #E8EAEB;
    background-color:#1b1d1d;
}

.fa {
    font-family: "FontAwesome";
}
