Page {
    font-family: "Nasalization";    
    background-color: #BCBCBC;
    background-image: url("~/images/lmcapodgleason960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

TextView {
   font-size: 14; 
}