.drawer-page {
    font-family: "Nasalization";    
    background-color: #BCBCBC;
}

.drawer-content {
    background-color: #343838;
    color: #BCBCBC;
}

.dp-btn {
    background-color: #008C9E;
    font-family: "Nasalization";
    margin: 0 16 0 16;
    padding: 16;
}
