.dp-all {
    background-color: #BCBCBC;
    color: #E8EAEB;
    font-family: "Nasalization";
    font-size:16;
}

.dp-action-button {
    background-color: #008C9E;
    border-radius: 10;
    margin: 10;
}

.dp-content-button {
    background-color: #008C9E;
    border-radius: 10;
    margin: 10; 
}

.dp-drawer-content-text {
    font-size: 12;
    text-align: center;
}

.dp-drawer-content {
    background-color: #343838;
}

.dp-header-content {
    font-size: 12;
}

.dp-main-content {
    font-family: "Nasalization";
    color: #343838;
}

.dp-cardview {
    margin: 6 6 0 6;
}

.dp-grid {
    horizontal-alignment: stretch;
    background-color: #343838;
    color: #BCBCBC;
    font-size: 16;
    padding: 8;
}