.stackStyle {
    font-family: "Nasalization";    
    background-color: #343838;   
    color: #E8EAEB;
    font-size: 14; 
}

.dt {
    background-color: white;
    horizontal-align: center;
}

.btn-picker {
    font-family: "Nasalization";    
    background-color: #343838;   
    color: #E8EAEB;
    font-size: 14; 
}