Page {
    font-family: "Nasalization";   
}

.dt {
    background-color: #E8EAEB;
    horizontal-align: center;
}

.btn-picker {
    font-family: "Nasalization";
    background-color: #008C9E;
}

.tab {
    font-size:12;
    font-weight: bold;
}

.seg {
    font-size:18;
}