.stackStyle {
    font-family: "Nasalization";    
    background-color: #343838;   
    color: #E8EAEB;
    font-size: 14; 
}

.dt {
    background-color: #E8EAEB;
    horizontal-align: center;
}

.btn-picker {
    font-family: "Nasalization";    
    background-color: #343838;   
    color: #E8EAEB;
    font-size: 14; 
}

    /* light gray: #BCBCBC;  */
    /* accent blue: #00B4CC;  */